:root {
  --clr-green-light: hsl(179, 34%, 48%);
  --clr-green-dark: hsl(155, 72%, 61%);
  --clr-grey-light: rgba(255, 255, 255, 0.4);
  --clr-grey-dark: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*::after,
*::before,
a,
img,
button,
input,
label,
select,
span,
i {
  display: inline-block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.btn {
  background-color: white;
  border: 0;
  padding: 1rem 1.5rem;
  color: var(--clr-green-dark);
  border-radius: 3px;

  cursor: pointer;

  font-family: inherit;
  font-size: 1.8rem;

  transition: 0.25s;
}
.btn:hover {
  background-color: #f5f7f9;
}

.icon-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon-btn i {
  font-size: 2.5rem;
}
